<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Data Binding</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="form-group col-lg-10">
        <label class="control-label col-lg-2" for="focusedInput">What is your name?</label>
        <input class="form-control" id="focusedInput" type="text" ng-model="name">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-10">
        <label for="select" class="col-lg-2 control-label">What is your favorite animal?</label>
        <div class="col-lg-10">
          <select class="form-control" id="select" ng-model="animal">
            <option>dogs</option>
            <option>cats</option>
            <option>cats and dogs</option>
          </select>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-1">
      <h1>My name is: {{name}}</h1>
      <h3>I love {{animal}} &#60;3</h3>
    </div>
  </div>

  </body>
</html>
