<h1 class="header">To Do App</h1>

<h3 class="header">Add A New To Do</h3>

<form ng-submit="addToDo()" class="formClass">
  <div class="form-group">
    <input type="text" class="form-control input" ng-model="view.content">
    <input type="submit" class="btn btn-default add" value="Add To Do!">
  </div>
</form>

<div ng-repeat="list in view.list" class="items">
  <span class="item">
    <h3>{{list.content}}</h3>
    <a ng-click="toggleEditForm(list)" class="btn btn-xs btn-warning">Edit</a>

    <form class="editForm" ng-submit="edit($index)"  ng-show="list.viewEdit">
      <input type="text" ng-value="list.content" ng-model="view.editContent[$index]">
      <input type="submit" class="btn btn-success btn-xs" value="Confirm Changes">
    </form>

    <a ng-click="delete($index)" class="btn btn-xs btn-danger">Delete</a>
  </span>
</div>
