<form ng-submit="calculate()">
  <label for="operation">Operation</label>
  <select id="operation" ng-model="view.operator" ng-init="view.operator = 'add'">
    <option value="add">Add</option>
    <option value="subtract">Subtract</option>
    <option value="multiply">Multiply</option>
    <option value="divide">Divide</option>
  </select>
  <label for="first">First:</label>
  <input type="number" id="first" ng-model="view.first">
  <label for="second">Second:</label>
  <input type="number" id="second" ng-model="view.second">
  <input type="submit" value="Calculate!">
</form>

<h3>The Value is: {{view.result}}</h3>
