<a ng-href="/">
  <button type="button" class="btn btn-default back">
    Back To Search
  </button>
</a>

<div class="movieDetail detail">
  <h1 class="movieTitle">{{view.detail.Title}}</h1>
  <div class="row">
    <div class="col-lg-4">
      <img src="{{view.detail.Poster}}" class="poster" alt="MoviePoster" />
    </div>
    <div class="col-lg-8">
      <p class="starring">
        <strong>Starring:</strong> {{view.detail.Actors}}
      </p>
      <p class="plot">
        {{view.detail.plot}}
      </p>
      <h3 class="additionalDetails">Additional Details</h3>
      <h4 class="detailTitle">Awards:</h4>
      <h4 class="detailInfo">{{view.detail.Awards}}</h4>
      <h4 class="detailTitle">Director</h4>
      <h4 class="detailInfo">{{view.detail.Director}}</h4>
      <h4 class="detailTitle">Rated</h4>
      <h4 class="detailInfo">{{view.detail.Rated}}</h4>
      <h4 class="detailTitle">Released</h4>
      <h4 class="detailInfo">{{view.detail.Released}}</h4>
      <h4 class="detailTitle">Runtime</h4>
      <h4 class="detailInfo">{{view.detail.Runtime}}</h4>
      <h4 class="detailTitle">IMDB Rating</h4>
      <h4 class="detailInfo">{{view.detail.imdbRating}}</h4>
      <h4 class="detailTitle">Rotten Tomatoes Rating</h4>
      <h4 class="detailInfo">{{view.detail.tomatoRating}}</h4>
    </div>
  </div>
</div>
